{erl_opts, [debug_info]}.

{deps, [
    {nksip, {git, "https://github.com/netcomposer/nksip", {branch, "master"}}}
]}.

{shell, [
    {apps, [web_rtp]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {release, {web_rtp, "1.0.0"}, [web_rtp]},
            {extended_start_script, true}
        ]}
    ]}
]}.